@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Inter', sans-serif;
    background-color: #fdf7ef;
  }

h1, h2, h3{
    font-family: 'Newsreader', serif;
    font-weight: 300;
}

#beginning{
    font-size: 14px;
}
  
.home-head {
    position: fixed;
    width: 100%;
    background-color: #fdf7ef;
    z-index: 2;
  }
  
  .logo {
    display: block;
    margin-top: 5px;
    height: 30px;
    margin-left: -50px;
  }

/* Hamburger Section */

header {
    background-color: #fdf7ef;
    color: rgb(141, 3, 3);
    padding: 10px;
    font-family: 'Newsreader', serif;
    font-size: 10px;
}

.bar-stuff p {
    padding-top: 10px;
    font-size: 20px;
}

.hamburger {
    display: flex;
    justify-content: space-between;
}

.topnav a {
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 16px;
}

.topnav a.active {
    color: #3e5b3a;
    border-radius: 5px; 
    text-decoration: none;
}

.icon {
    color: black;
    font-size: 20px;
    padding: 10px 10px 5px 10px;
}

#myLinks {
    display: none;
    z-index: 1000;
}

#myLinks a {
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: black;
    align-items: center;
    text-decoration: none;
    font-size: 40px;
}

#myLinks a:hover {
    color: #3e5b3a;
}

/* Header Section */
.eyecatcher-clean {
    padding: 30px;
    padding-top: 110px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #021651;
    color: #FFFAE0;
}

.cleaning-eyecatcher-text {
    flex: 1;
    padding: 20px;
}

.cleaning-eyecatcher-text h1 {
    font-size: 80px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.contact-button {
    background-color: #18acd4;
    color: #021651;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
}

.contact-button:hover {
    background-color: #a8b480;
}

.cleaning-image {
    flex: 1;
    text-align: center;
}

.cleaning-image img {
    max-width: 100%;
    border-radius: 10px;
}

/* Services Offered */
.services-offered {
    display: flex;
    padding: 40px;
}

.services-offered h2 {
    font-size: 40px;
    font-weight: 500;
    color: #1282ad;
}

.services {
    display: flex;
    gap: 20px;
    color: #f9f9f9;
    margin-left: 60px;
}

.service h3 {
    font-size: 25px;
    font-weight: 350;
    text-decoration-line: underline;
    margin-bottom: 20px;
}

.service {
    background-color: #0c5683;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

/* Products */
.products {
    padding: 30px;
    text-align: center;
}

.products h2 {
    font-size: 40px;
}

.products h3 {
    font-size: 25px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 40px;
    list-style: none;
}

.product-list li {
    background-color: #0c5683;
    border-radius: 10px;
    height: 200px;
    width: 200px;
    color: #f9f9f9;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 18px;
}

.product-list li:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.products h3 {
    font-size: 25px;
    margin: 30px;
    font-weight: 400;
}

/* Examples */
.examples {
    padding: 30px;
    text-align: right;
}

.examples h2 {
    font-size: 40px;
}

.examplesAreas {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

/* FAQ */
.FAQ {
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

.FAQ h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    color: #432a07;
}

.FAQ-list {
    list-style-type: none;
    padding: 0;
}

.FAQ-list li {
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #432a07;
}

.FAQ-list li:last-child {
    border-bottom: none; 
}

.FAQ-list strong {
    font-size: 20px;
    color: #432a07;
    margin-bottom: 5px;
}

.FAQ-list p {
    font-size: 15px;
    line-height: 1.5;
    color: #654922;
    margin-left: 20px;
}

/* Footer */
footer{
    padding: 30px;
    background-color: #2c402a;
    color: #FFFAE0;;
}

.main-footer{
    display: flex;
    gap: 100px;
}

.main-footer li{
    padding: 5px;
    font-weight: 300;
    list-style-type: circle;
}

.main-footer a{
    color: #FFFAE0;
    text-decoration: none;
    font-weight: 300;
    padding: 5px;
}

.main-footer a:hover{
    color: #a8b480;
}

.main-footer h2{
    display: flex;
    justify-content: center;
    padding: 20px;
    font-weight: 400;
    font-size: 25px;
}

.main-footer h3{
    padding-bottom: 20px;
}

.contact-us{
    display: flex;
    flex-direction: column;
}

.forms-of-payment{
    display: flex;
    flex-direction: column;
}

.follow-us{
    display: flex;
    flex-direction: column;
}

.end-end{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 300;
    color: #9e7241;
}

.end-1{
    display: flex;
    justify-content: end;
    gap: 10px;
}

.end-2{
    display: flex;
    justify-content: end;
    gap: 10px;
}