/* Eye-catcher */
.eye-catcher-remod {
    padding-top: 60px;
}

.constructionMain {
    width: 100%;
}

.eye-catcher-pic {
    background-image: url("/public/construction1.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0px 60px;
}

.eye-catcher-pic h1 {
    font-size: 80px; 
    font-weight: 600;
    background: #956e2fa2;
    padding: 20px 20px;
    border-radius: 20px;
}

.button-remod {
    text-decoration: none;
    color: #fdf7ef;
    background-color: #654922;
    padding: 10px 20px;
    border-radius: 10px;
    margin-left: 150px;
    font-size: 30px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.button-remod:hover {
    transform: scale(1.2);
    background-color: #432a07;
    cursor: pointer;
}

/* Service Category and Explanation */
.construction-type {
    margin: 20px auto;
    padding: 20px;
    padding-left: 60px;
}

.construction-type h2 {
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 30px;
    margin-right: 50px;
    text-align: right;
    color: #654922;
    text-decoration: underline;
}

.service-category {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.construction-type h3 {
    font-size: 30px;
    font-weight: 400;
    padding: 10px;
    color: #654922;
}

.construction-type p {
    font-size: 18px;
    color: #333;
    padding: 10px;
    width: 70%;
}

/* Before and After Pics */
.portfolio {
    padding: 40px;
    background-color: #654922;
    color: #FFFAE0;
}

.portfolio h2 {
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 20px;
}

.portfolio h3 {
    font-size: 35px;
    margin-bottom: 20px;
}

.portfolio p {
    font-size: 10px;
    padding-bottom: 20px;
    margin-top: -10px;
    padding-left: 30px;
}

#before-after {
    display: flex;
    text-align: center;
    margin-left: 45px;
}

.flip-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.flip-container {
    perspective: 1000px;
    width: 450px;
    height: 450px;
    cursor: pointer;
}

.flipper {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s ease;
}

.flip-container.flipped .flipper {
    transform: rotateY(180deg);
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
}

.front {
    transform: rotateY(0deg);
}

.back {
    transform: rotateY(180deg);
}

.remodPic {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 10px; 
}

.flip-container:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    transition: transform 0.5s ease;
}

.flip-container::before {
    content: "Click"; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    background: #432a07db;
    padding: 10px 20px;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 3;
}

.flip-container:hover::before {
    opacity: 1;
}

/* FAQ */

.FAQ {
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px;
  }
  
  .FAQ h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    color: #432a07;
  }
  
  .FAQ-list {
    list-style-type: none;
    padding: 0;
  }
  
  .FAQ-item {
    margin-bottom: 20px;
    border-bottom: 1px solid #432a07;
  }
  
  .FAQ-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 10px;
  }
  
  .FAQ-question strong {
    font-size: 20px;
    color: #432a07;
  }
  
  .FAQ-question .arrow {
    font-size: 20px;
    transition: transform 0.3s ease;
    color: #654922;
  }
  
  .FAQ-question .arrow.open {
    transform: rotate(180deg);
  }
  
  .FAQ-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    opacity: 0;
    padding: 0 10px;
  }
  
  .FAQ-answer.expanded {
    max-height: 200px;
    opacity: 1;
    padding: 10px 10px;
  }
  
  .FAQ-answer p {
    font-size: 15px;
    line-height: 1.5;
    color: #654922;
    margin: 0;
  }
  