/* Header Section */
.eyecatcher-clean {
    padding: 30px;
    padding-top: 110px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #021651;
    color: #FFFAE0;
}

.cleaning-eyecatcher-text {
    flex: 1;
    padding: 20px;
}

.cleaning-eyecatcher-text h1 {
    font-size: 80px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.contact-button {
    background-color: #18acd4;
    color: #021651;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
}

.contact-button:hover {
    background-color: #a8b480;
}

.cleaning-image {
    flex: 1;
    text-align: center;
}

.cleaning-image img {
    max-width: 100%;
    border-radius: 10px;
}

/* Services Offered */
.services-offered {
    display: flex;
    padding: 80px;
    padding-right: 120px;
}

.services-offered h2 {
    font-size: 40px;
    font-weight: 500;
    color: #1282ad;
    margin-right: 120px;
}

.service h3 {
    font-size: 25px;
    font-weight: 350;
    text-decoration-line: underline;
    margin-bottom: 20px;
}

.service {
    background-color: #0c5683;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    gap: 20px;
    color: #f9f9f9;
    margin-left: 60px;
}

.service p {
    font-size: 15px;
}

/* Products */
.products {
    padding: 30px;
    text-align: center;
    background-color: #02165151;
}

.products h2 {
    font-size: 40px;
    color: #031656;
    font-weight: 500;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 40px;
    list-style: none;
}

.product-list li {
    background-color: #0c5683;
    border-radius: 10px;
    height: 200px;
    width: 200px;
    color: #f9f9f9;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 18px;
}

.products h3 {
    font-size: 25px;
    margin: 30px;
    font-weight: 400;
    text-decoration: underline;
}

.why-these {
    text-align: center;
    margin: 30px auto;
    width: 60%;
    text-align: center;
    color: #031656;
}

.why-these p {
    font-size: 18px;
}

/* Examples */
.examples {
    display: flex;
    align-items: center; 
    gap: 20px;
    padding: 30px;
    justify-content: end;
}

.examples h2 {
    font-size: 40px;
    margin-left: 120px;
    text-align: right;
    padding: 50px;
    color: #021651;
}

.examplesAreas {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 20px;
    justify-content: center;
}

.place-lo {
    border: 3px solid #0c5683;
    border-radius: 10px; 
    padding: 20px;
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.place-lo h3 {
    font-size: 30px;
    font-weight: 500;
    padding: 20px;
    color: #0c5683;
}

/* FAQ */
.FAQ {
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

.FAQ h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    color: #432a07;
}

.FAQ-list {
    list-style-type: none;
    padding: 0;
}

.FAQ-list li {
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #432a07;
}

.FAQ-list li:last-child {
    border-bottom: none; 
}

.FAQ-list strong {
    font-size: 20px;
    color: #432a07;
    margin-bottom: 5px;
}

.FAQ-list p {
    font-size: 15px;
    line-height: 1.5;
    color: #654922;
    margin-left: 20px;
}