/* Header Section */
.eyecatcher-clean {
    padding: 30px;
    padding-top: 110px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #021651;
    color: #FFFAE0;
}

.cleaning-eyecatcher-text {
    flex: 1;
    padding: 20px;
}

.cleaning-eyecatcher-text h1 {
    font-size: 80px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.contact-button {
    text-decoration: none;
    color: #021651;
    background-color: #18acd4;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
    font-weight: 500;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-button:hover {
    background-color: #80aab4;
}

.cleaning-image {
    flex: 1;
    text-align: center;
}

.cleaning-image img {
    max-width: 100%;
    border-radius: 10px;
}

/* Services Offered */
.services-offered {
    display: flex;
    padding: 80px;
    padding-right: 120px;
}

.services-offered h2 {
    font-size: 40px;
    font-weight: 500;
    color: #1282ad;
    margin-right: 120px;
}

.service h3 {
    font-size: 25px;
    font-weight: 350;
    text-decoration-line: underline;
    margin-bottom: 20px;
}

.service {
    background-color: #0c5683;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    gap: 20px;
    color: #f9f9f9;
    margin-left: 60px;
}

.service p {
    font-size: 15px;
}

/* Products */
.products {
    padding: 30px;
    text-align: center;
    background-color: #02165151;
}

.products h2 {
    font-size: 40px;
    color: #031656;
    font-weight: 500;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 40px;
    list-style: none;
}

.product-list li {
    background-color: #0c5683;
    border-radius: 10px;
    height: 200px;
    width: 200px;
    color: #f9f9f9;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 18px;
}

.products h3 {
    font-size: 25px;
    margin: 30px;
    font-weight: 400;
    text-decoration: underline;
}

.why-these {
    text-align: center;
    margin: 30px auto;
    width: 60%;
    text-align: center;
    color: #031656;
}

.why-these p {
    font-size: 18px;
}

/* Examples */
.examples {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 40px;
    justify-content: end;
}

.examples h2 {
    font-size: 40px;
    margin-left: 120px;
    text-align: right;
    padding: 50px;
    color: #021651;
}

.examples h3 {
    font-size: 20px;
    padding: 20px;
}

.examplesAreas {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 20px;
    justify-content: center;
}

.place-lo {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    position: relative;
    text-align: center;
    padding: 40px;
    border: 5px solid #0c5683;
    border-radius: 10px;
}

.place-lo:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(40, 40, 40, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1000;
}

.modal-overlay.show {
    opacity: 1;
    visibility: visible;
}

.modal-content {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
    from {
        transform: scale(0.9);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.modal-content h3 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #0c5683;
}

.modal-content p {
    font-size: 16px;
    color: #333;
}

.close-button {
    margin-top: 20px;
    padding: 10px 20px;
    background: #0c5683;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.close-button:hover {
    background-color: #1282ad;
}


/* FAQ */

.FAQ {
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px;
    border: 1px solid #654922;
}

.FAQ h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    color: #432a07;
}

.FAQ-list {
    list-style-type: none;
    padding: 0;
}

.FAQ-item {
    margin-bottom: 20px;
    border-bottom: 1px solid #432a07;
}

.FAQ-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 10px;
}

.FAQ-question strong {
    font-size: 20px;
    color: #432a07;
}

.FAQ-question .arrow {
    font-size: 20px;
    transition: transform 0.3s ease;
    color: #0c5683;
}

.FAQ-question .arrow.open {
    transform: rotate(180deg);
}

.FAQ-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    opacity: 0;
    padding: 0 10px;
}

.FAQ-answer.expanded {
    max-height: 200px;
    opacity: 1;
    padding: 10px 10px;
}

.FAQ-answer p {
    font-size: 15px;
    line-height: 1.5;
    color: #654922;
    margin: 0;
}

@media only screen and (max-width: 793px) {
    .cleaning-eyecatcher-text h1 {
        font-size: 50px;
    }

    .services-offered {
        display: flex;
        padding: 50px;
    }

    .services-offered h2 {
        font-size: 40px;
        font-weight: 500;
        color: #1282ad;
        margin-right: 0px;
    }

    .examples h2 {
        font-size: 40px;
        margin-left: 0px;
        text-align: right;
        padding: 30px;
        color: #021651;
    }
}


@media only screen and (max-width: 583px) {
    .cleaning-eyecatcher-text h1 {
        font-size: 40px;
    }

    .services-offered {
        display: flex;
        flex-direction: column;
        padding: 50px;
    }

    .service {
        background-color: #0c5683;
        padding: 30px;
        border-radius: 10px;
        text-align: center;
        gap: 20px;
        color: #f9f9f9;
        margin-left: 0px;
    }

    .services-offered h2 {
        font-size: 35px;
        padding-bottom: 20px;
        font-weight: 500;
        color: #1282ad;
        text-align: center;
    }

    .examples {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        gap: 20px;
        padding: 40px;
        justify-content: end;
    }

    .examples h2 {
        font-size: 40px;
        margin-left: 0px;
        text-align: center;
        padding: 20px;
        color: #021651;
    }
}

@media only screen and (max-width: 425px) {
    .eyecatcher-clean {
        padding: 30px;
        padding-top: 80px;
        padding-bottom: 50px;
        flex-direction: column;
    }

    .contact-button {
        margin-left: 60px;
        cursor: pointer;
        font-size: 15px;
    }
}

@media only screen and (max-width: 560px) {
.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    list-style: none;
}
}