.plantNet {
  padding-top: 100px;
}

.inputing {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.interactiveStuff {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.identifying {
  padding-left: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.plantNet h2 {
  font-size: 40px;
  font-weight: 500;
  color: #3e5b3a;
  display: flex;
  justify-content: center;
}

.plantNet h3 {
  font-size: 30px;
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  text-decoration: underline;
}

.plantNet h4 {
  font-size: 30px;
  font-weight: 350;
  text-decoration: underline;
}

input[type="file"] {
  margin: 10px 0;
}

.plant-button {
  padding: 10px 20px;
  background-color: #5c8856;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.plant-button:hover {
  background-color: #1b3d42;
}

.plantNet ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  flex-direction: row;
  gap: 20px;
  padding: 0;
}

.plantNet li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #5c8856;
  padding: 20px;
  color: #fdf7ef;
  border: 2px solid #1b3d42;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

.plantNet li strong {
  font-size: 24px;
  margin-bottom: 10px;
}

.identification-results {
  display: flex;
  flex-direction: column; 
  align-items: center;
  padding: 20px;
}

.plantNet h3 {
  font-size: 30px;
  margin-bottom: 20px;
  text-decoration: underline;
  text-align: center;
}

.mainResult, .commonName, .confidence {
  padding: 20px;
}
